<div class="container">

    <h1 class="white"> EAT DA BURGER!!</h1>
    
    <div class="container">
         <div class="row">
             <div class="col">
                <h2 class="white"> This area will show the submitted Hamburger</h2>
            </div>
            <div class="col">
                <h2 class="white"> This area will show the eaten Hamburgers</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p class="white">Enter the name a Hamburger you would like to eat!</p>
    <textarea id="text" rows="6" cols="35"></textarea>
    <button type="submit" class="btn btn-light">EAT DA BURGER</button>
</div>

