<div class="container">

    <h1 class="white center"> EAT DA BURGER!!</h1>

    <img src="/assets/img/hamburger.png" alt="hamburger!" class="image">
    
    <div class="container">
         <div class="row">
             <div class="col">
                <h2 class="white"> This area will show the submitted Hamburger</h2>
            </div>
            <div class="col">
                <h2 class="white"> This area will show the eaten Hamburgers</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
        <p class="white">Enter the name a Hamburger you would like to eat!</p>
        <textarea id="text" rows="6" cols="35"></textarea>
        <button type="submit" class="btn btn-light">EAT DA BURGER</button>
    </div>
    <div class="col">
    </div>
  </div>
</div>




